<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cmps121.asgn1">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".MenuActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".GamingActivity"
            android:label="@string/activity_gaming"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".CookingActivity"
            android:label="@string/activity_cooking"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".SkiingActivity"
            android:label="@string/activity_skiing"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>